<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://wwwultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Editar docentes</h1>
    <form th:action="@{/docenteGrupos/update}" th:object="${docenteGrupos}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="docente">Docente</label>
                    <input type="text" class="form-control" th:field="*{docente}" id="docente" placeholder="Escriba el nombre del grupo" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="grupo">Grupo</label>
                    <textarea class="form-control" th:field="*{grupo}" id="grupo"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="año">Año</label>
                    <textarea class="form-control" th:field="*{año}" id="año"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ciclo">Ciclo</label>
                    <textarea class="form-control" th:field="*{ciclo}" id="ciclo"></textarea>
                </div>
            </div>
        </div>
        <hr>
        <button type="submit">Guardar cambios</button>
        <a th:href="@{/docenteGrupo}">Regresar</a>
    </form>
</div>