<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://wwwultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Editar docentes</h1>
    <form th:action="@{/Docentes/save}" th:object="${docentes}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escriba el nombre del grupo" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <textarea class="form-control" th:field="*{apellido}" id="apellido"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email</label>
                    <textarea class="form-control" th:field="*{email}" id="email"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="telefono">Telefono</label>
                <textarea class="form-control" th:field="*{telefono}" id="telefono"></textarea>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="escuela">Escuela</label>
                    <textarea class="form-control" th:field="*{escuela}" id="escuela"></textarea>
                </div>
            </div>
        </div>
        <hr>
        <button type="submit">Guardar cambios</button>
        <a th:href="@{/Docentes}">Regresar</a>
    </form>
</div>